{% extends 'base.html' %}
{% block content %}
<section class="bg-light text-dark p-5">
  <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
          
          {% if request.user.is_superuser %}
          <div class="d-flex align-items-left">
              <a href="{% url 'add-user' %}" class="btn btn-secondary btn-md">Add User</a>
          </div>
          {% endif %}
          <form action="{% url 'users' %}" method="get" class="d-flex align-items-center">
            <select class="form-select btn btn-outline-secondary" name="sort">
              <option disabled="true" selected>Sort (by name):</option>
              <option>A-Z</option>
              <option>Z-A</option>
            </select>
            <button class="btn btn-dark" type="submit">Sort</button>
          </form>
          <form action="{% url 'users' %}" method="get" class="d-flex align-items-right">
            <select class="form-select btn btn-outline-secondary" name="dept">
              <option disabled="true" selected>Department:</option>
              {% for department in departments %}
              <option>{{department.name}}</option>
              {% endfor %}
            </select>
              <input type="text" name="q" class="form-control col-6" placeholder="Enter Name" />
              <button class="btn btn-dark" type="submit">Search</button>
          </form>
      </div>
  </div>
</section>

<table class="table table-striped mt-3 text-center">
    <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Access Type</th>
          <th scope="col">Department</th>
          {% if request.user.is_superuser %}<th scope="col">Delete user</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td><a href="{% url 'profile' user.id %}">{{user.first_name}}</a></td>
          <td>{{user.last_name}}</td>
          {% if user.is_superuser %}
          <td>Administrator</td>
          {% elif user.head_of_department %}
          <td>Head of Department</td>
          {% else %}
          <td>Regular User</td>
          {% endif %}
          <td>{{user.department.name}}</td>
          {% if request.user.is_superuser %}<td><a href="{% url 'delete-user' user.id %}"><i class="bi bi-trash"></i></a></td>{% endif %}
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock content %}