body{
    background-color: #F0F0F0;
}
input[type='text'],
input[type='password'],
input[type='email']{
    border: 1px solid black;
    border-radius: 10px;
}
form{
    margin: auto; 
    border: 1px solid black; 
    border-radius: 10px;
    background-color: white;
}